/**
 *  * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 *   * http://cssreset.com
 *    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

aside {
    float: left;
    padding: 1em;
    width: 20%;
    height:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

header {
    display: block;
    margin: 0 auto 1em auto;
}

header>h1 {
    color: #f7912d;
    display: block;
    margin: auto auto;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px grey;
}

header>img{
    display: block;
    margin: auto auto;
}

/* member classes*/
.name {

}
#header{
    background-color: #f7912d;
    text-align: left;
    color: white;
}

.bottom {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-border-sizing: border-box;
}

/* People stuff */

.add-box {
}

.add-box>input {
    outline: none;
    width: 60%;
    padding-left: 0.3em;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5em;
}

.add-box>input:focus {
    width: 100%;
    box-shadow: 0 0 5px rgba(247, 145, 45, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(247, 145, 45, 0.6); 
    -moz-box-shadow: 0 0 5px rgba(247, 145, 45, 0.6); 
    border: 1px solid rgba(247, 145, 45, 0.8);

    // 247 145 45
    // f7912d
}

button {
    border: 0px solid #DDDDDD;
    background: #F7912D;
    color: white;
    padding: 0.4em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0em 0em 0.5em 0em;
}

#people-list{
    height: -webkit-calc(100% - 300px);
    height: -moz-calc(100% - 300px);
    height: -ms-calc(100% - 300px);
    height: -o-calc(100% - 300px);
    height: calc(100% - 300px);
    margin: 0em 0em 0.5em 0em;
    overflow-y: auto;
}

#people-list>li {
    padding: 5px;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
    cursor: default;
}

.view-toggle {
    background: url('../eye.png') no-repeat left center;
    padding: 0 10px 0 5px;
    cursor: pointer;
}

.view-toggle.toggled{
    background: url('../eye_b.png') no-repeat left center;
    padding: 0 10px 0 5px;
}

#people-list>li:hover {
    background-color: rgba(190,190,190,0.4);
}

#people-list>li.editing{
    background-color: rgba(170,170,170,0.7);
}

.toremove{
    position: absolute;
    right: 0.3em;
    cursor: pointer;
    top: 0.1em;
    bottom: 0.1em;
    background: white;
    display: block;
    width: 1.2em;
    text-align: center;
}

/* member classes*/

#timetableView{
    width: 100%;
    margin-left: 20%
}

/* time table stuff */

.toShowButton{
    cursor: pointer;
    background: url('../eye_b.png');
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
    margin: 0.5em;
}

#timetableView table{
    border-collapse:collapse;
}

#timetableView>#header{
	margin-bottom: 1.5em;
}

.timetable tr:hover>td{
	background: lightgrey;
}

.timetable th{
    width: 2.4em;
    max-width: 2.4em;
    min-width: 2.4em;
}

.timetable td{
    border: 1px solid grey;
    width: 4em;
    min-width: 4em;
    max-width: 4em;
    height: 5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.timeheader{
    margin-left: 1.2em;
}

.timeheader th{
    border: 3px solid transparent;
    width: 4em;
    min-width: 4em;
    max-width: 4em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
}

.timetable-cell{
    position: relative;
}

.aggregate-left, .aggregate-right{
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 4em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;ont-size: 0.9em;
}

.aggregate-left{
    left: 0;
    right: 50%;
}

.aggregate-right{
    left: 50%;
    right: 0;
}

.user{
    position: absolute;
    background: yellow;
    border-radius: 5px;
    border: 1px solid black;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    z-index: 1;
    opacity: 0.5;
    box-shadow: 2px 2px 4px black;
    font-weight: bold;
    font-size: 0.9em;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;ont-size: 0.9em;
}	

.user:hover{
    z-index: 2;
}

.user.editable{
    opacity: 0.7;

}

.user.tohide{
    opacity: 0.4;
	box-shadow: none;
}

.error {
    margin-left: 20%;
    margin-top: 5%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

#message{
    position: absolute;
    height: 14em;
    width: 20em;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    margin-top: -7em;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}
