html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}
aside{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 20%;
	overflow-y: auto;
	background: grey;
}

#timetable{
	margin-left: 20%;
	background: red;
	height: 100%;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul li {

background-color: white;
background-repeat: no-repeat;
}

li:hover{
	background-color: yellow;
}

li:active{
	background-color: 

}

/* time table stuff */

.timetable-cell{
	position: relative;
}

.aggregate-left, .aggregate-right{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
}

.aggregate-left{
	left: 0;
	background: purple;
}

.aggregate-right{
	background: green;
	left: 50%;
}